.header { 
    background-color: #d689ee; 
    padding: 20px; 
    text-align: center; 
    font-size: 24px; 
    font-weight: bold; 
    border-radius: 10px;
    margin: 15px;
    display: flex;
    align-items: center;
}
.dashboard { 
    background-color: #e19fee; 
    height: 100%; 
    margin: 0px 15px 15px 15px;
    border-radius: 15px;
}
body {
    margin: 0;
    height: 100vh;
}
.speech-bubble {
  background: #ffffff;
  padding: 16px 20px;
  border-radius: 20px;
  width: 500px; 
  box-shadow: 0 10px 20px rgba(255, 182, 193, 0.35);
  position: relative;
  font-family: "Comic Sans MS", "Nunito", sans-serif;
  color: #d66a8c;
  height: 50px;
}
.speech-bubble::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid #ffffff;
}
.speech-bubble p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
}
#bear {
    width: 250px;
    height: auto;
    z-index: 10;
    position: relative;
}
