.header { 
    background-color:#FCDDE2; 
    padding: 20px; 
    text-align: center; 
    font-size: 24px; 
    font-weight: bold; 
    border-radius: 10px;
    margin: 15px;
    display: flex;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
}
.dashboard { 
    background-color: #FEEDEE;  
    height: 100%; 
    margin: 0px 15px 15px 15px;
    border-radius: 15px;
    font-family: "Comic Sans MS", "Nunito", sans-serif;
    color: brown;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
body {
    margin: 0;
    height: 100vh;
}
.speech-bubble {
  background: #ffffff;
  padding: 16px 20px;
  border-radius: 20px;
  width: 500px; 
  box-shadow: 0 10px 20px rgba(255, 182, 193, 0.50);
  position: relative;
  height: 50px;
}
.speech-bubble::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid #ffffff;
}
.speech-bubble p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
}
#bear {
    width: 250px;
    height: auto;
    z-index: 10;
    position: relative;
}
.calender {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 20px;
    grid-area: 2 / 1 / 3 / 2;
}
.month {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 0;
    background-color: #FACCCF;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
#month {
    margin: 0px;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: brown;
    border-radius: 50%;
    margin: 2px;
}
.day {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #day {
    margin: 0px;
  }
  .to-do {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 20px;
    grid-area: 3 / 1 / 4 / 2;
  }
.header-todo {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold; 
    background-color: #FACCCF;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 60px;
}
.header-todo p {
    margin: 0px;
    padding: 15px 20px;
}
.weather {
   grid-area: 2 / 2 / 3 / 3;
}
.weather iframe {
    width: 300px;
    height: 320px;
}

/* grid-area: 3 / 2 / 4 / 3; */