.weer {
    font-family: "Mountains of Christmas", serif;
    background-color: #f1b4ec; 
    color: rgb(151, 11, 216);
    border-radius: 10px;
    width: 300px;   
    margin: auto;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* horizontaal */
  align-items: center;     /* verticaal */
}
.header {
    text-align:center;
    font-size: 13px; 
    border-bottom: 1px solid #3f0079;   
}
.info {
    background-image: url('weer\ icon.jpg');  
    height: 78%;
    border-radius: 0 0 10px 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.quote {
    position: absolute;
    text-align: center;
    justify-content: center;
    bottom: 10px;
    font-size: 20px;
    color: rgb(151, 11, 216); 
    background-color: rgba(255, 255, 255, 0.397);
    width: 200px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    border: 1px solid #3f0079;   
}
.quote p {
    margin: 13px;
}
